* {
    margin: 0;
    padding: 0;
}

.cabecalho {
background-color:darkgrey;
color: midnightblue;
border: 2px solid black;
padding: 30px;

}
#texto.cabecalho {
 display: inline;
}

nav {
    display: inline;
    margin-left: 0;
    margin-right: 0px;
}
nav a {
   margin-left: 100px;
   margin-right: 0;
   text-decoration: none;
   font-size: 16px;
   color: black;
   border: 2px solid black;
   border-radius: 10px;   padding: 5px;
}
nav a:hover {
    background-color: black;
    color: white;
}

.titulo {
    font-size: 50px;
    margin-top: 60px;
    text-align: center;
}

.texto-inicial {
    margin-top: 40px;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 20px;
    text-align: center;
    color: midnightblue;
    background-color: darkgrey;
    border: 2px solid black;
}

.foto-daniel {
    margin-top: 70px;
    border: 2px solid black;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.instituicoes {
    margin-left: 50px;
    margin-right: 40px;
    margin-bottom: 130px;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 30%;
}

.imagens {
    display: inline;
}

.linguagens {
    
    width: 380px;
    height: 400px;
    border: 2px solid black;
    margin: 110px;
    border-radius: 30%;
}

.linguagens:hover {
    opacity: 60%
}

.projetos {
    margin-top: 200px;
    background-color: darkgrey;
    border: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

.habilidade {
    margin-top: 160px;
    
}

.moldura-habilidades{
    margin-top: 160px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

}

.titulo-habilidades {
    margin:60px 700px;
    border: 2px solid black;
    padding: 20px;
    font-size: 40px;
    color: midnightblue;
    background-color: darkgrey;
}

.habilidades {
    text-align: center;
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 30px 60px;
    border: 2px solid black;
    color: midnightblue;
    background-color: darkgrey;
    padding: 70px;
}

.formulario {
    width: 100px;
    height: 100px;
    text-align: center;
}